<nav class="teal lighten-1">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Tech-Share</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger show-on-small">
            <i class="fas fa-bars"></i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/reference">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>