<h4 class="login-title teal-text lighten-1">
    <i class="fab fa-creative-commons-share"></i>
    Tech-Share
</h4>
<div class="section">
    <p class="lead">Share technology reference that you find useful</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn waves-effect waves-light">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>
